{% extends 'base_site.html' %} {% load static %} 
{% block title %}Painel Administrativo{% endblock %} 
{% block css %} {{block.super}} 
<link rel="stylesheet" href="{% static 'css/global-forms.css' %}">
{% endblock%}

{% block head_js %}
<script src="{% static 'assets/js/modal.js' %}"></script>
{% endblock %}

{% block main_conteudo %}

<div class="row">
  <div class="col">
    <h1 class="text-start mb-0 pb-0">
      Painel Administrativo
    </h1>
  </div>
</div>
<div id="painelMenu" class="col">
  <div class="row">
    <div class="col d-flex">
      <input type="search" name="search" id="search" class="form-control" placeholder="Procurar...">
    </div>
  </div>
  
  <table class="table mt-5">
    <thead>
      <th>ID</th>
      <th>CNPJ</th>
      <th>Nome da empresa</th>
      <th></th>
    </thead>
    <tbody>
      {% for empresa in empresas %}
      <tr class="empresa-row">
        <td>{{empresa.id}}</td>
        <td>{{empresa.cnpj}}</td>
        <td>{{empresa.nome}}</td>
        <td><a class="text-success" href="{% url 'vagas:empresa_info_download' empresa.id %}" style="text-decoration: none;"><i class="fa fa-file-excel"></i></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
<style>
  #painelMenu .btn{
    width: 300px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 5px;    
  }
  
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $("#search").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $(".empresa-row").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
        });
    });

    $("#clear-filter").on("click", function() {
        $("#search").val("");
        $(".empresa-row").show();
    });
});
</script>
{% endblock %}
